.modal-content
  .modal-body

    .list-group
      width: 100%

      .react-date-picker
        width: 300px

        .react-date-picker__calendar
          position: absolute
          top: 5px
          z-index: 99999999
