.cards-container
  margin-bottom: 20px
  padding: 20px

  .card
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.68)
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.68)
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.68)
    margin-bottom: 20px
    padding: 15px

    &:hover
      background-color: #E8EAF6
      cursor: pointer

    .card-body
      .icons-container
        font-size: 25px
        margin-bottom: 10px