html, body
  height: 100%

body
  background-color: #e9ecef

  .app-container

    .header-title
      font-size: 60px
      text-align: center

    .login-form
      display: flex
      flex-flow: column
      margin: 0 auto
      margin-top: 2%
      width: 400px

    .admin-page
      .page-title
        display: flex
        font-size: 30px
        padding-left: 20px

        .add-flight-button
          margin-left: 58%
          height: 38px

    .user-page
      .page-title
        display: flex
        font-size: 30px
        padding-left: 20px

    .search-container
      margin-left: auto
      padding-right: 20px
      width: 30%
